@model Slot3.Controllers.Person

<div>
    <div>
        <label asp-for="Firstname">Firstname:</label>
        <input asp-for="Firstname" type="text" />
    </div>
    <div>
        <label asp-for="Lastname">Lastname:</label>
        <input asp-for="Lastname" type="text" />
    </div>
</div>